name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      
      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Install dependencies
        run: uv sync

      - name: Run Pytest
        run: uv run pytest
  deploy:
    needs: test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/league-bot:latest
          platforms: linux/amd64
      
      - name: Deploy to AWS EC2
        uses: appleboy/ssh-action@v1.0.3
        env:
          DISCORD_KEY: ${{ secrets.DISCORD_PUBLIC_KEY }}
          RIOT_KEY: ${{ secrets.RIOT_API_KEY }}
          FIREBASE_CREDS: ${{ secrets.FIREBASE_CREDENTIALS_BASE64 }}
        with: 
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          envs: DISCORD_KEY, RIOT_KEY, FIREBASE_CREDS
          script: |
            echo "DISCORD_PUBLIC_KEY=$DISCORD_KEY" > .env
            echo "RIOT_API_KEY=$RIOT_KEY" >> .env
            echo "FIREBASE_CREDENTIALS_BASE64=$FIREBASE_CREDS" >> .env
            echo "ENV=production" >> .env
            sudo docker stop my-bot || true
            sudo docker rm my-bot || true
            sudo docker pull ${{ secrets.DOCKER_USERNAME }}/league-bot:latest
            sudo docker run -d \
              --restart always \
              --env-file .env \
              --name my-bot \
              ${{ secrets.DOCKER_USERNAME }}/league-bot:latest
      